.Fieldset {
  border: 2px solid #1f497d;
  border-radius: 0px;
  padding: 2rem 3rem;
  padding-bottom: 3rem;
  margin: 2rem 0;

  legend {
    color: #1f497d;
    width: unset;
    padding: 5px 10px;
    margin: 0 2rem;
  }
}
